{% extends "analyzer/base.html" %}

{% block content %}
<div class="main-container">
    <section class="services">
        <h1 class="sub-header">الصفحة الرئيسية</h1>
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <div><i class="fa-regular fa-calendar"></i></div>
                    <h3>📄 تحليل ملف</h3>
                    <p>من هنا يمكنك تحليل النصوص من ملف CSV وتصنيفها إلى ثلاث فئات: إيجابي، سلبي، وحيادي</p>
                </div>
                <button class="card-button" onclick="location.href='/upload'">تحليل</button>
            </div>

            <div class="card">
                <div class="card-content">
                    <div><i class="fa-solid fa-box-archive"></i></div>
                    <h3>🐦 إنشاء ملف تويتر</h3>
                    <p>من هنا يمكنك تحليل ملفات تويتر</p>
                </div>
                <button class="card-button" onclick="location.href='/twitter'">إنشاء ملف تويتر</button>
            </div>

            <div class="card">
                <div class="card-content">
                    <div><i class="fa-solid fa-circle-exclamation"></i></div>
                    <h3>📚 إدارة القاموس</h3>
                    <p>من هنا يمكنك إدارة القاموس عن طريق إضافة كلمة خاطئة وتحويلها إلى كلمة صحيحة</p>
                </div>
                <button class="card-button" onclick="location.href='/manage-dictionary'">إدارة القاموس</button>
            </div>
        </div>
    </section>
</div>
{% endblock %}
